In [1]:
import pandas as pd
import numpy as np
cancer = pd.read_csv("ovariantotal.csv")
cancer.head()

,AFP,AG,Age,ALB,ALP,ALT,AST,BASO#,BASO%,BUN,...,PCT,PDW,PHOS,PLT,RBC,RDW,TBIL,TP,UA,TYPE
0,3.58,19.36,47,45.4,56,11,24,0.01,0.30,5.35,...,0.09,13.4,1.46,74,2.64,13.7,5.5,73.9,396.4,0
1,34.24,23.98,61,39.9,95,9,13,0.02,0.30,3.21,...,0.30,11.2,1.09,304,4.89,12.7,6.8,72.0,119.2,0
2,1.50,18.40,39,45.4,77,9,18,0.03,0.60,3.80,...,0.13,15.2,0.97,112,4.62,12.0,14.8,77.9,209.2,0
3,2.75,16.60,45,39.2,26,16,17,0.05,0.74,5.27,...,0.25,17.4,1.25,339,4.01,14.6,10.9,66.1,215.6,0
4,2.36,19.97,45,35.0,47,21,27,0.01,0.10,4.89,...,0.28,11.9,0.94,272,4.40,13.4,5.3,66.5,206.0,0

In [2]:
X=cancer.drop('TYPE',axis=1)
y=cancer['TYPE']

In [3]:
pd.DataFrame(X,columns=cancer.columns[:-1])

,AFP,AG,Age,ALB,ALP,ALT,AST,BASO#,BASO%,BUN,...,NEU,PCT,PDW,PHOS,PLT,RBC,RDW,TBIL,TP,UA
0,3.58,19.36,47,45.4,56,11,24,0.01,0.30,5.35,...,76.20,0.09,13.4,1.46,74,2.64,13.7,5.5,73.9,396.4
1,34.24,23.98,61,39.9,95,9,13,0.02,0.30,3.21,...,76.50,0.30,11.2,1.09,304,4.89,12.7,6.8,72.0,119.2
2,1.50,18.40,39,45.4,77,9,18,0.03,0.60,3.80,...,69.70,0.13,15.2,0.97,112,4.62,12.0,14.8,77.9,209.2
3,2.75,16.60,45,39.2,26,16,17,0.05,0.74,5.27,...,65.50,0.25,17.4,1.25,339,4.01,14.6,10.9,66.1,215.6
4,2.36,19.97,45,35.0,47,21,27,0.01,0.10,4.89,...,59.50,0.28,11.9,0.94,272,4.40,13.4,5.3,66.5,206.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
344,2.09,20.91,52,48.6,65,40,30,0.00,0.00,4.29,...,66.58,0.22,10.8,0.99,219,4.56,11.9,10.7,80.4,241.5
345,2.00,12.14,37,46.1,49,9,20,0.00,0.00,3.12,...,66.58,0.31,17.3,0.95,262,4.24,17.7,17.2,73.5,240.5
346,2.83,19.23,59,45.8,83,9,16,0.02,0.60,4.38,...,66.58,0.21,10.4,1.00,221,4.89,11.6,13.8,68.4,209.5
347,1.84,27.22,30,47.8,64,26,22,0.03,0.30,3.61,...,66.58,0.42,13.4,1.31,398,5.35,12.5,11.3,76.0,285.7
348,1.61,13.00,39,44.9,68,7,13,0.01,0.20,4.38,...,66.58,0.23,11.0,1.10,224,4.13,12.1,8.3,68.6,184.9

In [4]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.20,random_state=0)

**Support vector machine**

In [5]:
from sklearn import svm
clf = svm.SVC(kernel='linear', C=0.01)
clf.fit(X_train, y_train)
y_pred_svm = clf.predict(X_test)
from sklearn.metrics import confusion_matrix,classification_report,accuracy_score
print(confusion_matrix(y_test,y_pred_svm))
print(accuracy_score(y_test,y_pred_svm))
print(classification_report(y_test,y_pred_svm))

[[36  5]
 [ 1 28]]
0.9142857142857143
              precision    recall  f1-score   support

           0       0.97      0.88      0.92        41
           1       0.85      0.97      0.90        29

    accuracy                           0.91        70
   macro avg       0.91      0.92      0.91        70
weighted avg       0.92      0.91      0.91        70